<div class="page-container">
    <div class="js-home"></div>
    <div class="pagination">
        <button class="btn-prev"></button>
        <span class="current-page">1</span>
        <button class="btn-next"></button>
    </div>
</div>