.film__card {
  margin: 0 auto;
  padding: 0;
  width: calc(100% - 20px);
  display: flex;
  justify-content: space-around;
  font-family: Roboto Slab, serif;
}
.film__poster-wrapper {
  width: 300px;
}
.film__card-description {
  padding-left: 20px;
}
.film__poster-wrapper {
  position: relative;
  margin-bottom: 35px;
}

.film__card-stars {
  position: absolute;
  width: 100px;
  height: 50px;
  background-color: rgb(248, 16, 77);
  bottom: -25px;
  right: 100px;
  border-radius: 8px;
}
.film__card-attr {
  margin-bottom: 50px;
}
.attr-item {
  margin-bottom: 10px;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
}
.attr-item span {
  width: 50%;
}
.film__poster-wrapper,
.film__card-stars {
  -webkit-box-shadow: -2px 0px 45px -11px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: -2px 0px 45px -11px rgba(0, 0, 0, 0.77);
  box-shadow: -2px 0px 45px -11px rgba(0, 0, 0, 0.77);
}

// .card-title-star {
//   display: block;
// }

.film__card-title {
  font-size: 28px;
  font-weight: 900;
  color: #000;
  margin: 10px 0;
  text-align: start;
}

.film__card-stars {
  font-size: 20px;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.icon--star {
  vertical-align: sub;
  margin-top: 8px;
  margin-bottom: 10px;
}

.film__card-release {
  font-style: italic;
  text-align: start;
  margin-bottom: 15px;
}
.film__card-buttons {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around;
  position: relative;
}

// .film__card-stars,
// .film__card-release,
// .film__card details {
//   display: block;
//   width: 70%;
//   margin: 0 auto;
//   color: #fff;
// }

.film__card-button {
  display: block;
  height: 40px;
  line-height: 40px;
  width: 260px;
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
  border: none;
  background-color: #281f55;
  color: #fff;
  border-radius: 10px;
  transition: 0.2s all ease-in-out;

  &:hover {
    background-color: #f8104d;
    cursor: pointer;
  }
}
.text-summary {
  font-size: 18px;
  margin: 0;
  line-height: 1.2em;
}

// .material-icons {
//   margin-right: 10px;
//   padding-left: 10px;
// }

// // .card {
// //   display: block;
// //   padding-top: 15px;
// //   padding-bottom: 15px;
// //   // height: 100%;
// //   position: relative;
// //   left: 50%;
// //   transform: translate(-50%, 0);
// //   width: 320px;
// //   background-color: rgba(0, 0, 0, 0.45);
// // }

// summary {
//   margin-top: 15px;
//   font-weight: bold;
//   font-size: 18px;
//   outline: none;
//   cursor: pointer;
//   color: #fff;

//   &:hover {
//     color: #f8104d;
//   }
// }

// @media (min-width: 320px) and (max-width: 1199px) {
//   .film__card-release ::after {
//     content: '';
//     position: absolute;
//     left: 50%;
//     transform: translate(-50%, 0);
//     margin-top: 20px;
//     width: 260px;
//     height: 2px;
//     background-color: #f8104d;
//   }

//   .film__card-button {
//     position: relative;
//     left: 50%;
//     transform: translate(-50%, 0);
//     display: flex;
//     &:first-child {
//       margin-right: 5px;
//     }
//   }
// }

// @media (min-width: 1200px) {
//   .card {
//     width: 900px;
//     display: flex;
//     justify-content: space-around;
//     align-items: flex-start;
//   }

//   .card-info {
//     display: flex;
//     flex-direction: column;
//     padding-left: 10px;
//     padding-right: 10px;
//     height: 390px;
//     justify-content: space-between;
//   }

//   .card-title-star {
//     display: flex;
//     flex-direction: column;
//   }

//   .film__card-attr {
//     display: flex;
//     align-items: flex-end;
//   }

//   .film__card--poster {
//     margin-left: 35px;
//     margin-right: 0;
//   }

//   .film__card--title {
//     display: flex;
//     font-size: 30px;
//     align-items: flex-start;
//   }

//   summary {
//     display: flex;
//     font-size: 23px;
//     margin-left: -70px;
//   }

//   .film__card-button,
//   .film__card-buttons {
//     display: flex;

//     &:first-child {
//       margin-right: 10px;
//     }
//   }

//   .film__card-release {
//     margin-bottom: 15px;
//   }
// }
