.film__card {
  margin: 0;
  padding: 0;
  max-height: 400px;
  width: 300px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.film__card--poster {
  display: block;
  max-height: 100%;
  margin-bottom: 5px;
  margin: 0 auto;
}

.film__card--title {
  font-size: 26px;
  font-weight: 900;
  //   color: #fff;
  margin: 0;
}

.film__card-stars {
  display: block;
  font-style: 20px;
}

.icon--star {
  vertical-align: sub;
}

.film__card-release {
  font-style: italic;
}

.film__card-button {
  margin: 0 auto;
  padding: 0;
  display: block;
  height: 40px;
  width: 260px;
}

$material-icons-font-path: '~material-icons/iconfont/';

@import '~material-icons/iconfont/material-icons.scss';
