.page-main__films-list {
  max-width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap row;
  padding-top: 10px;
}
.film-card__container {
  width: 200px;
  display: inline-block;
  position: relative;
  margin-bottom: 10px;

  &:hover {
    cursor: pointer;
  }
}

.film-card__name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 5px;
}
